[submodule "third_party/raylib"]
	path = third_party/raylib
	url = git@github.com:CommandPrompt-Wang/raylib.git
[submodule "third_party/dr_libs"]
	path = third_party/dr_libs
	url = git@github.com:mackron/dr_libs.git
